/*==================================================================
                            UNIVERSAL STYLES
===================================================================*/
body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(100, 100, 128, 0.2);
}

/*==================================================================
                            LAYOUT STYLES
===================================================================*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*==================================================================
                            HEADER STYLES
===================================================================*/
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/*==================================================================
                            DROPDOWN STYLES
===================================================================*/
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

hr {
    margin: 20px 0;
}

/*==================================================================
                            BUTTON STYLES
===================================================================*/
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*==================================================================
                            WEB COMPONENT STYLES
===================================================================*/
price-card {
    display: flex;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    background-color: #fff;
    flex-direction: column;
}

hdb-price-card {
    display: flex;
    padding: 20px;
}